<div class="footer">
    <div class="container">
        <div class="row text-light">
            <div class="col-lg-3 col-md-6">
                <h2>Esetravels</h2>
                <p>21 Pedro Avenue, <br>
                    Gold Coast, USA
                </p>
                <p class="mb-0"><b>Phone</b>: +125154426</p>
                <p><b>Email</b>: travels@vee.com</p>
                <div class="socialMedia d-flex">
                    <div class="fb p-2">
                        <i class="fab fa-facebook fa-2x"></i>
                    </div>
                    <div class="twitter p-2">
                        <i class="fab fa-twitter fa-2x"></i>
                    </div>
                    <div class="instagram p-2">
                        <i class="fab fa-instagram fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Useful Liinks</h5>
                <ul>
                    <li><i class="fas fa-angle-double-right"></i> <a href="#"> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> <a href="#"> About us</a></li>
                    <li><i class="fas fa-angle-double-right"></i> <a href="#"> Services</a></li>
                    <li><i class="fas fa-angle-double-right"></i> <a href="#"> Privacy policy</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Our Services</h5>
                <ul>
                    <li><i class="fas fa-angle-double-right"></i> Hiking</li>
                    <li><i class="fas fa-angle-double-right"></i> Scuba Diving</li>
                    <li><i class="fas fa-angle-double-right"></i> Flying</li>
                    <li><i class="fas fa-angle-double-right"></i> Safari</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Core Values</h5>
                <p>Patience</p>
                <p>Endurance</p>
                <p>Satisfaction</p>
                <p>Education for all</p>
            </div>
        </div>
    </div>
</div>
