<div class="heroBanner">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand ml-5" routerLink="/"><img src="../../assets/img/travel.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active px-5" routerLink="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link px-5" routerLink="/blog">Blog</a>
            <a class="nav-link px-5" routerLink="/travels">Travels</a>
          </div>
        </div>
    </nav>
    <div>
        <div class="container mt-5">
            <h1 class="display-4">Best travel Destination!</h1>
        <p class="lead">The best place to be after the Pandemic</p>
        <div class="hrRule mb-3"></div>
        <p class="mb-0">Experiencing nature at its purest form</p>
        <p class="mt-0">enjoy paradise on earth with passion</p>
        <a class="btn btn-outline-secondary btn-lg text-light" href="#" role="button">Contact us</a>
        </div>
    </div>
</div>