/*verticalNav starts*/
.about {
    padding: 60px 0;
}
.about .container {
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
    
}

.subMessage {
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
    transition: all ease-in-out 0.4s;
    margin: 0 5px;
    padding: 20px 30px;
    
}