<section class="about">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../assets/img/office.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pl-3">
                <div>
                    <h2>Abuot Us</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Nostrum dolores officiis similique totam numquam recusandae 
                    est? Iste esse velit enim?
                </p>
                </div>
                <div class="py-3">
                    <h4><img src="../../assets/img/small-plane.png" class="mr-3" alt=""> Enjoy Life</h4>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Fuga dolores mollitia dolorum ipsam. olores officiis similique totam
                    </p>
                </div>
                <div class="py-3">
                    <h4><img src="../../assets/img/hand-luggage.png" class="mr-3" alt=""> Best Offer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Fuga dolores mollitia dolorum ipsam. consectetur adipisicing
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5">
    <div class="row" id="verticalNav"><!--verticalNavbar starts here-->
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Cards</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">New Destination</a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="row">
                    <figure class="figure col-6"> <!--figureZone starts here-->
                        <img src="../../assets/img/lion.jpg" class="figure-img img-fluid rounded" alt="...">
                        <figcaption class="figure-caption">
                            hire me and lets make a movie. I am ready
                        </figcaption>
                    </figure>
                    <figure class="figure col-6">
                        <img src="../../assets/img/hippos.jpg" class="figure-img img-fluid rounded" alt="...">
                        <figcaption class="figure-caption">
                            you are free to swimm with us. But be ready to pay the price
                        </figcaption>
                    </figure> <!--figureZone ends here-->
                </div>
            </div>
            
            <!--messages inside verticalNav-->
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"> 
                <div class="container dogMessageRow">
                    <h1 class="mb-4">Our Message to you</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, amet! dolor sit amet consectetur adipisicing elit
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, amet! dolor sit amet consectetur adipisicing elit
                    consectetur adipisicing elit. Modiconsectetur adipisicing elit. Modi
                </p>
                    <div class="row my-4">
                        <div class="subMessage col">
                            <i class="fas fa-dog fa-2x"></i>
                            <h3 class="my-3">Nona Pome</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Quae consequuntur, id praesentium impedit ipsam vero.
                            </p>
                        </div>
                        <div class="subMessage col">
                            <i class="fas fa-bone fa-2x"></i>
                            <h3 class="my-3">Woko Zuma</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Quae consequuntur, id praesentium impedit ipsam vero.
                            </p>
                        </div>
                        <div class="subMessage col">
                            <i class="fas fa-paw fa-2x"></i>
                            <h3 class="my-3">Blar Khuo</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Quae consequuntur, id praesentium impedit ipsam vero.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, inventore?</div>
          </div>
        </div>
    </div> <!--vertical Navbar ends here-->
    
</div>